<div class="container">
<div class="row">
<div class="span6 offset3">
<div class="well">

<p>
<%= image_tag @pin.image %>
<p class="productname">
<strong>
<%= @pin.productname %>
</strong>
</p>
<%= @pin.description %>
</p>
<p class="price_show">
HKD <%= @pin.price %>
</p>

<% if user_signed_in? %>
<p class="phone">
Phone: <%= @pin.phone %>
</p>

<p class="email">
Email: <%= @pin.email %>
</p>

<% else %>

<p class="phone"> 
Contact: <strong>Log in</strong>
</p>


<%= link_to 'Back', pins_path, class: "btn btn-mini" %>
<% end %>

<% if current_user == @pin.user %>
<%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-mini" %>
<% end %>
</div>
</div>
</div>
</div>